// @import "node_modules/_bootstrap@4.3.1@bootstrap/scss/bootstrap.scss";
html,
body,
#root {
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
.login {
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  .login-form {
    max-width: 300px;
  }
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
  }
}

.main {
  height: 100%;
  .mainSlide {
    height: 100%;
  }
  .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }
  .trigger:hover {
    color: #1890ff;
  }

  .username {
    display: inline-block;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 600;
    line-height: 67px;
    vertical-align: middle;
  }

  .logo {
    position: relative;
    z-index: 2;
    height: 64px;
    padding: 16px;
    margin-bottom: 0;
    background-color: #fff;
    img {
      width: 100%;
    }
  }
}

.mainList {
  .title {
    font-weight: 700;
    font-size: 14px;
  }

  .pageButtons.top {
    margin: -30px 0 20px 150px;
    .ant-btn.ant-btn-link {
      height: 22px;
      padding: 0 24px 7px;
      line-height: 20px;
      font-size: 12px;
    }
  }

  .tableView {
    font-size: 12px;
    .ant-table-thead {
      width: 100%;
    }

    .ant-table-thead > tr > th {
      width: auto;
      min-width: 86px;
      max-width: 176px;
      font-size: 12px;
      font-weight: bold;
      white-space: nowrap;
    }
  }
}

.pageButtons {
  &.edit {
    .ant-btn.ant-btn-link {
      height: 32px;
      line-height: 32px;
      font-size: 14px;
    }
  }
  line-height: 33px;
  .ant-btn.ant-btn-link {
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    margin-right: 10px;
    height: 22px;
    padding: 0 24px 7px;
    line-height: 20px;
    font-size: 12px;
  }
  .ant-btn.ant-btn-link.disabled {
    color: rgba(0, 0, 0, 0.25);
    background-color: #f5f5f5;
    border-color: #d9d9d9;
    text-shadow: none;
    box-shadow: none;
  }
}

.bottomPageButton .ant-btn {
  margin-right: 10px;
}

.cardForm {
  position: relative;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  .delete {
    position: absolute;
    font-size: 20px;
    top: 0;
    right: -20px;
    background-color: #cf4327;
    color: #fff;
  }
  .title {
    width: 100%;
    span {
      display: inline-block;
      width: 50%;
      text-align: left;
    }
  }
  .itemType {
    width: 100%;
    background-color: #f3f4f6;
    text-align: center;
    line-height: 26px;
    margin: 0;
  }
  .chooseOption {
    .card_link {
      line-height: 28px;
      & > span {
        display: inline-block;
        text-align: left;
        padding-right: 10px;
      }
    }
    .card_input {
      & > span {
        width: 15%;
      }
    }
  }
}

.dropTarget {
  position: relative;
  width: 88%;
  margin-left: 10px;
}

.dropTarget .hover {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  p {
    color: #fff;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
  }
}

.dropTarget .hide {
  display: none;
}
